*{
    margin: 0;
}

/* hero div section*/

body{
    display: flex;
    flex-direction: column;
    
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 256px
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF9;
    padding-top: 16px;
}

.header p{
    font-size: 24px;
}

.header ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.header a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content{
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
    gap: 16px;
    flex: 1;
}

.hero-text{
    flex: 1;
}

.hero-main{
    color: #F9FAF9;
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary{
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content button{
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 4px 16px;
    margin-top: 8px;
}

.placeholder-image{
    background-color: gray;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* image-showcase div */

.image-showcase{
    display: flex;
    flex-direction: column;
}

.image-showcase h1{
    display: flex;
    justify-content: center;
    padding: 36px 0;
    font-weight: bolder;
    color: #1F2937;
    font-size: 36px;
}

.images{
    display: flex;
    justify-content: center;
    gap: 36px;
}

.image-section{
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    margin-bottom: 109px;
    gap: 8px;
}

.image-section .image{
    border-radius: 16px;
    border: 3px solid #3882f6;
    flex-basis: 128px;
}

.image-section p{
    text-align: center;
    font-size: 18px;
}